---
//const streamlitUrl = "https://seo-content-audit-app-production.up.railway.app/?token=" + encodeURIComponent("my-secret-token-342");
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pro SEO TDK Tool by Ken Toh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      iframe {
        width: 100%;
        height: 100vh;
        border: none;
      }
    </style>
  </head>
  <body>
    <iframe src="https://seo-tdk-tool-production.up.railway.app/?token=2f3c94a0-b8f4-49d0-9f41-810d0ac29c5a" allowfullscreen></iframe>
  </body>
</html>
